<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="address1" class="com.spring.Address">
        <property name="street" value="duman"/>
        <property name="neighborhood" value="meclis"/>
     </bean>

    <bean id="address2" class="com.spring.Address">
        <property name="street" value="pınar sokak"/>
        <property name="neighborhood" value="meclis mahallesi"/>
    </bean>

    <bean id="worker1" class="com.spring.Worker">
        <property name="no" value="1"/>
        <property name="firstName" value="eray" />
        <property name="lastName" value="mert"/>
    </bean>

</beans>